# Ignorar configurações e arquivos temporários do VSCode
.vscode/
*.code-workspace

# Ignorar executáveis gerados pelo código
*.exe*
*.out
*.bin
*.env

# Ignorar outros artefatos de build do Go
*.log
*.test
*.o
*.a

vendor/

bin/